Source: libblendsplitter3
Section: libs
Priority: optional
Maintainer: GenaBitu <genabitu@gmail.com>
Build-Depends: debhelper (>=9), qt5-qmake, qtbase5-dev, qtchooser, doxygen, doxygen-latex, graphviz
Standards-Version: 3.9.8
Vcs-Git: https://github.com/GenaBitu/BlendSplitter.git
Vcs-Browser: https://github.com/GenaBitu/BlendSplitter
Homepage: https://github.com/GenaBitu/BlendSplitter

Package: libblendsplitter3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BlendSplitter library, version 3
 A blender-like Qt Widget management library.
 BlendSplitter Provides the BlendSplitter class, which is a Splitter like that
 of the 3-D modelling software Blender.
 This is the runtime package for the library.

Package: libblendsplitter-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libblendsplitter3 (=${binary:Version})
Suggests: libblendsplitter-doc
Description: BlendSplitter library, version 3, development files
 A blender-like Qt Widget management library.
 BlendSplitter Provides the BlendSplitter class, which is a Splitter like that
 of the 3-D modelling software Blender.
 This is the development package for the library.

Package: libblendsplitter-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Suggests: libblendsplitter-dev
Description: BlendSplitter library, version 3, documentation
 A blender-like Qt Widget management library.
 BlendSplitter Provides the BlendSplitter class, which is a Splitter like that
 of the 3-D modelling software Blender.
 This is the documentation package for the liSbrary.
